body {
    margin: 0;
    font: 14px 'Quicksand', sans-serif;  
  }

  a{
    margin-top: -0.5%;
    color: white;
    padding-right: 5%;
    font-size: 1.2rem;
  }

 
  
  #header{
    background-color: black;
    opacity: 0.95;
    padding-top: 20px;
    height: 12%;
    display: flex;
  }
  
  .navigation-container{
    width: 100%;
    padding-top: 1.5%;
    padding-left: 46%;
    display: flex;
    flex-direction: row;
  }

  #doctor{
    text-align: center;
    width: 20%;
    margin-top: -0.5%;
    color: white;
    font-size: 1.2rem;
  }

  .far{
    padding-right: 20px;
    color: white; 
    font-size: 22px;
  }

  .far:hover{
    cursor: pointer;
    color: rgb(160, 160, 160);
  }

  .fas{
    padding-left: 20px;
    color: white; 
    font-size: 22px;
  }

  .fas:hover{
    cursor: pointer;
    color: rgb(160, 160, 160);
  }

  .logo-container{
    margin-top: -0.5%;
    padding-left: 3%;
  }
  
  #logo{
    width: 12rem;
    height: 4.8rem;
  }
  
  #main{
    background-color: rgb(240, 240, 240);
    height: auto;
    padding-bottom: 5%;
  }

  .tabs{
    margin: 0.5%;
    height: 10%;
    background: white;    
    box-shadow:
    0 0 2.2px rgba(0, 0, 0, 0.1),
    0 0 2.3px rgba(0, 0, 0, 0.1),
    0 0 2px rgba(0, 0, 0, 0.1),
    0 0 2.9px rgba(0, 0, 0, 0.1),
    0 0 2.4px rgba(0, 0, 0, 0.1),
    0 0 2px rgba(0, 0, 0, 0.1);
  }

  .tabs button{
    background-color: white;
    margin-right: -4px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 0.9rem;
    border: none;
    height: 100%;
    width: 9%;
  }

  .tabs .select{
    background: rgba(0,0,0,0) linear-gradient(45deg,#96d0ff 30%,#61bdff 100%);
  }

  #dmsTab{
    margin-left: 64%;
  }

  .tabs button:hover{
    background: rgba(0,0,0,0) linear-gradient(45deg,#96d0ff 30%,#61bdff 100%);
    cursor: pointer;
  }
  
  #patientsList{
    margin: -0.5% 0.5% 0.5% 0.5%;
    height: 80%;
    display: flex;
  }

  #patient-section{
    height: 100%;
    width: 25%;
    background-color: rgb(250, 250, 250);
    box-shadow: 
    0 0 2.2px rgba(0, 0, 0, 0.1),
    0 0 2.3px rgba(0, 0, 0, 0.1),
    0 0 2px rgba(0, 0, 0, 0.1),
    0 0 2.9px rgba(0, 0, 0, 0.1),
    0 0 2.4px rgba(0, 0, 0, 0.1),
    0 0 2px rgba(0, 0, 0, 0.1);;
    margin-top: 1.5%;
  }

  #search-patient-div{
    justify-content: center;
    height: 15%;
    align-items: center;
    display: flex;
    background-color: rgb(219 218 218);
  }

  #search-patient{
    width: 90%;
    height: 50%;
    font-size: 1rem;
  }

  #icon{
    display: block;
    color: #000a50;
    font-size: 250px;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
  }

  #icon:hover{
    cursor: default;
  }

  #assignTestBtn{
    border: none;
    border-radius: 2px;
    padding: 15px;
    font-size: 1rem;
    margin-left: 32%;
    background-color: rgb(136 146 255 / 35%);  }

  #assignTestBtn:hover{
    cursor: pointer;
    background-color: rgb(136 146 255 / 85%);
  }
  
  #listSection{
    height: 100%;
    width: 75%;
    margin-left: 0.5%;
  }

  .list td, th{
    text-align: center;
    padding: 10px;
  }

  .list thead th{
    top: 0;
    z-index: 1;
    position: sticky;
    background-color: rgb(219, 218, 218);
    font-size: 1.1rem;
    font-weight: 500;
  }

  .list td{
    font-size: 0.9rem;
  }

  .list tr:nth-child(even){
    background-color: #f8f8f8;
  }

  .list .line:hover{
    background-color: rgb(201, 201, 201);
    cursor: pointer;
  }

  .list .clicked{
    cursor: none;
  }

  .list .test-line:hover{
    background-color: rgb(201, 201, 201);
  }
  
  .list {
    margin-top: 2%;
    border-radius: 3px 3px 3px 3px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    background-color: white;
    box-shadow: 
    0 0 2.2px rgba(0, 0, 0, 0.1),
    0 0 2.3px rgba(0, 0, 0, 0.1),
    0 0 2px rgba(0, 0, 0, 0.1),
    0 0 2.9px rgba(0, 0, 0, 0.1),
    0 0 2.4px rgba(0, 0, 0, 0.1),
    0 0 2px rgba(0, 0, 0, 0.1);
}

#testsList {
  margin: 0.5%;
  height: 80%;
  width: 99%;
}

::-webkit-scrollbar{
  width: 5px;
}

::-webkit-scrollbar-track{
  box-shadow: inset 0 0 5px rgb(190, 190, 190);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb{
  background: rgb(202, 202, 202);
  border-radius: 10px;
}

.viewTestBtn{
  border: none;
  border-radius: 2px;
  background-color: rgb(130 201 255 / 15%);
  padding: 10px;
}

.viewTestBtn:hover{
  cursor: pointer;
  background-color: rgb(130 201 255 / 85%);
}

.unsolved:hover{
  cursor: not-allowed;
}

#addPatient{
  padding: 0 1% 0 5%;
}

#head-card{
  text-align: center;
  padding: 1%;
  background: rgba(0,0,0,0) linear-gradient(45deg,#2669a1 30%,#007cd5 100%);
  border-radius: 0.5rem 0.5rem 0 0;
  color: white;
  width: 45%;
  margin-top: 2%;
}

#body-card{
  height: auto;
  background: white;
  width: 45%;
  padding: 1%;
  border-radius: 0 0 0.5rem 0.5rem;
}

#add-content{
  width: 50%;
  margin-left: 25%;
  margin-right: auto;
}

.newPatient{
  background-color: rgba(255,255,255,0.85);
  border: 1px solid #ccc;
  color: #000;
  font-size: 1.6em;
  margin: 5% 1% 0 0;
  padding: 1%;
  text-align: left;
  width: 93%;
}

#createPatientBtn{
  padding: 2%;
  margin: 5% auto 5% 35%;
  border: none;
  font-size: 1.2rem;
  border-radius: 0.2rem;
  background: linear-gradient(45deg, #0063f8, #171baf82);
  color: white;
}

#createPatientBtn:hover{
  cursor: pointer;
}

#assistant-container{
  height: 20rem;
  position: absolute;
  right: 1;
  margin: -35% 10% 0 0;
}

#dms{
  display: flex;
  height: 70%;
}

#roomlist-container{
  border: 1px solid black;
  margin: 1% 0% 0% 0.5%;
  background-color: white;
  height: 100%;
  width: 30%;
}

#messages-container{
  border: 1px solid black;
  border-left: none;
  margin: 1% 0.5% 0% 0%;
  width: 70%;
  height: 100%;
  background-color: white;
}

#search-area{
  display: flex;
  align-items: center;
  width: 100%;
  height: 15%;
  background: linear-gradient(45deg,#2669a1 30%,#007cd5 100%);
}

#search-input{
  color: #000;
  margin: 5% 0% 5% 5%;
  width: 80%;
  height: 50%;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}

#roomsList{
  overflow-y: auto;
  height: 85%;
}

.room{
  height: 15%;
  display: grid;
  grid-template-columns: 20% 65% 15%;
  grid-template-rows: 100%;
  grid-template-areas:
  'patient-icon roomLastMessage time'
}

.room:hover{
  background-color: rgb(95 196 255 / 46%);
  cursor: pointer;
}

.border-bottom{
  position: absolute;
  width: 25%;
  margin: 4.3% 5% 5% 2%;
  border-bottom: 1px solid;
}

.patient-icon{
  grid-area: patient-icon;
  align-self: center;
  justify-self: center;
  width: 60%;
  height: 80%;
  border-radius: 100%;
  background-color: red;
}

.roomLastMessage{
  grid-area: roomLastMessage;
}

.time{
  grid-area: time;
  margin-top: 5%;
}

#room-header{
  height: 15%;
  background: linear-gradient(225deg,#2669a1 30%,#007cd5 100%);
}

#messages{
  height: 70%;
  background-color: rgb(255, 255, 255);
  overflow-y: auto;
}

#send-message-area{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15.1%;
  background: linear-gradient(225deg,#2669a1 30%,#007cd5 100%);
}

#message-input{
  font-size: 1rem;
  color: #000;
  width: 85%;
  height: 50%;
  border-radius: 5px;
  border: none;
}

.message{
  margin: 0;
  width: 100%;
  height: auto;
  min-height: 20%;
  display: flex;
}

.sender{    
  height: 50px;
  width: 6%;
  min-width: 6%;
  margin: 0.5% 2% 0 0;
  background-color: red;
  border-radius: 100%;
  margin-left: 2%;
}

.message-text{
  word-wrap: break-word;
  font-size: 1.1rem;
  width: 90%;
  margin: 1% 0 1% 0;
}

#test-view{
  height: 100%;
}

.backSctn{
  position: absolute;
  margin-left: 5%;
  margin-top: 2%;
}

#back-arrow{
  float: left;
  color: black;
  font-size: 1rem;
  margin-top: 2%;
}

#backBtn{
  border: none;
  text-decoration: underline;
  float: left;
  font-size: 0.9rem;
}

#back-arrow:hover, #backBtn:hover{
  cursor: pointer;
}

#canvas-container{    
  display: flex;
  padding-left: 25%;
  padding-top: 3%;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-start;
}

#btn-container{
  display: flex;
}

.controlBtn{
  padding: 5px;
  width: 50%;
  border: 1px solid #80808045;
  background: #8b8f8e63;
  border-top: none;
}

.controlBtn:hover{
  background: #60636263;
  cursor: pointer;
}

.control{
  color: #000000bf;
  margin-left: -5%;
}

.control:hover{
  color: #000000bf;
}

#canvas1{
  border: 1px solid black;
}

.modal {
  display: none;
  position: fixed; 
  z-index: 1; 
  padding-top: 3%; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: #fefefe;
  border-radius: 5px;
  margin: auto;
  padding: 20px;
  width: 50%;
  height: 50%;
}

/* The Close Button */
.close {
  color: #424242;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  margin-left: 49%;
  margin-top: -7%;
}

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.form-content{
  margin-top: 5%;
  margin-left: 5%;
  font-size: 1.4rem;
  font-weight: 500;
}

#types{
  border: none;
  font-size: 1.3rem;
  margin-left: 5%;
}

.details{
  margin-top: 5%;
}

.details input{
  margin-bottom: 5%;
}


input[type="radio"]{
  appearance: none;
  border: 1px solid #d3d3d3;
  width: 30px;
  height: 30px;
  content: none;
  outline: none;
  margin-bottom: -1%;
  margin-right: 2%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

input[type="radio"]:checked {
 appearance: none;
 outline: none;
 padding: 0;
 content: none;
 border: none;
}

input[type="radio"]:checked::before{
 width: 29px;
 position: absolute;
 color: black;
 content: "\00A0\2714\00A0";
 border: 1px solid #d3d3d3;
 font-weight: bolder;
 font-size: 21px;
}

#sbtTest{
  float: right;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  padding: 2%;
  background: #83eeff;
}

#sbtTest:hover{
  cursor: pointer;
}

#confirmation{
    display: none;
    width: 100%;
    top: 0%;
    z-index: 1;
    position: absolute;
    background: #78fc78a6;
    text-align: center;
}

  #footer{
    height: 20%;
  }

  