body {
    margin: 0;
    font: 14px 'Quicksand', sans-serif;  
    background-attachment: fixed;
    background-color: #ddd;
    background-image: url(../images/external-content.duckduckgo.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #empty-container-p, #empty-container-t{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
    margin-top: 8%;
    margin-left: 29%;
    margin-right: auto;
    flex-direction: column;
  }

  #empty-container-t{
    margin-top: 8%;
    margin-left: 45%;
    margin-right: auto;
  }

  .empty-p{
    width: 140px;
    height: 150px;
  }

  #empty-rooms{
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
    margin: 25% 0 0px 25%;
  }

  a{
    margin-top: -0.5%;
    color: white;
    padding-right: 5%;
    font-size: 1.2rem;
  }
  
  #header{
    background-color: black;
    opacity: 0.95;
    padding-top: 20px;
    height: 12%;
    display: flex;
  }
  
  .navigation-container{
    width: 100%;
    padding-top: 1.5%;
    padding-left: 46%;
    display: flex;
    flex-direction: row;
  }

  #doctor{
    text-align: center;
    width: 20%;
    margin-top: -0.5%;
    color: white;
    font-size: 1.2rem;
  }

  .far{
    padding-right: 20px;
    color: white; 
    font-size: 22px;
  }

  .far:not(.no-hover):hover{
    cursor: pointer;
    color: rgb(160, 160, 160);
  }

  .fas{
    padding-left: 20px;
    color: white; 
    font-size: 22px;
  }

  .fas:not(.no-hover):hover{
    cursor: pointer;
    color: rgb(160, 160, 160);
  }

  .logo-container{
    margin-top: -1%;
    padding-left: 3%;
  }
  
  #logo{
    width: 12rem;
    height: 4.8rem;
  }

  #notifications-container, #options-container{ 
    font-family: 'Quicksand', sans-serif;
    margin-left: -5rem;
    position: absolute;
    height: 8rem;
    width: 18rem;
    background-color: white;
    border-radius: 0.2rem;
    overflow-y: auto;
    border: 1px solid #00000070;
  }

  .notification, .option{
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    color: black;
    display: flex;
    align-items: center;
  }

  .notification:not(:last-child), .option:not(:last-child){
    border-bottom: 1px solid #00000070;
  }

  .option{
    height: 49%;
  }
  
  .notification p, .option p{
    margin: 0;
  }

  .notification:hover, .option:hover{
    background-color: rgb(201, 201, 201);
    cursor: pointer;
  }

  .notification-content{
    margin-inline-start: 5%;
  }

  .option-content{
    margin-inline-start: 10%;
  }

  #options-container{ 
    margin-left: -3rem;
    height: 6rem;
    width: 7rem;
  }
  
  #main{
    height: auto;
    padding-bottom: 5%;
  }

  .tabs{
    margin: 0.5%;
    height: 10%;
    background: white;    
    box-shadow:
    0 0 2.2px rgba(0, 0, 0, 0.1),
    0 0 2.3px rgba(0, 0, 0, 0.1),
    0 0 2px rgba(0, 0, 0, 0.1),
    0 0 2.9px rgba(0, 0, 0, 0.1),
    0 0 2.4px rgba(0, 0, 0, 0.1),
    0 0 2px rgba(0, 0, 0, 0.1);
  }

  .tabs button{
    background-color: white;
    margin-right: -4px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 0.9rem;
    border: none;
    height: 100%;
    width: 9%;
  }

  .tabs .select{
    background: rgba(0,0,0,0) linear-gradient(45deg,#96d0ff 30%,#61bdff 100%);
  }

  #dmsTab{
    margin-left: 64%;
  }

  #dmsTab .circle {
    position: absolute;
    top: 6rem;
    right: 0.1rem;
    width: 25px;
    height: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: #fc6464;
  }

  .room .circle {
    grid-area: circle;
    width: 15px;
    height: 15px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: #fc6464;
    margin: 0 0 0 55%;
  }

  .tabs button:hover{
    background: rgba(0,0,0,0) linear-gradient(45deg,#96d0ff 30%,#61bdff 100%);
    cursor: pointer;
  }
  
  #patientsList{
    margin: -0.5% 0.5% 0.5% 0.5%;
    height: 80%;
    display: flex;
  }

  #patient-section{
    height: 100%;
    width: 25%;
    background: rgb(77 93 72 / 34%);
    box-shadow: 
    0 0 2.2px rgba(0, 0, 0, 0.1),
    0 0 2.3px rgba(0, 0, 0, 0.1),
    0 0 2px rgba(0, 0, 0, 0.1),
    0 0 2.9px rgba(0, 0, 0, 0.1),
    0 0 2.4px rgba(0, 0, 0, 0.1),
    0 0 2px rgba(0, 0, 0, 0.1);;
    margin-top: 1.5%;
  }

  .white{
    background: white !important;
  }

  #search-patient-div{
    justify-content: center;
    height: 15%;
    align-items: center;
    display: flex;
    background-color: rgb(0 0 0 / 5%);
  }

  #search-patient{
    width: 90%;
    height: 50%;
    font-size: 1rem;
  }

  #icon{
    display: block;
    color: #000a50;
    font-size: 250px;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
  }

  #icon:hover{
    cursor: default;
  }

  #assignTestBtn{
    border: none;
    border-radius: 2px;
    padding: 15px;
    font-size: 1rem;
    margin-left: 32%;
    background-color: rgb(136 146 255 / 35%);  }

  #assignTestBtn:hover{
    cursor: pointer;
    background-color: rgb(136 146 255 / 85%);
  }
  
  #listSection{
    height: 100%;
    width: 75%;
    margin-left: 0.5%;
  }

  .list td, th{
    text-align: center;
    padding: 10px;
  }

  .list thead th{
    top: 0;
    background-color: black;
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
  }

  .list td{
    font-size: 0.9rem;
  }

  .list tr:nth-child(even){
    background-color: #f8f8f8;
  }

  .list .line:hover{
    background-color: rgb(201, 201, 201);
    cursor: pointer;
  }

  .list .clicked{
    cursor: none;
  }

  .list .test-line:hover{
    background-color: rgb(201, 201, 201);
  }
  
  .list {
    margin-top: 2%;
    border-radius: 3px 3px 3px 3px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    background-color: white;
    box-shadow: 
    0 0 2.2px rgba(0, 0, 0, 0.1),
    0 0 2.3px rgba(0, 0, 0, 0.1),
    0 0 2px rgba(0, 0, 0, 0.1),
    0 0 2.9px rgba(0, 0, 0, 0.1),
    0 0 2.4px rgba(0, 0, 0, 0.1),
    0 0 2px rgba(0, 0, 0, 0.1);
}

#testsList {
  margin: 0.5%;
  height: 80%;
  width: 99%;
}

::-webkit-scrollbar{
  width: 5px;
}

::-webkit-scrollbar-track{
  box-shadow: inset 0 0 5px rgb(190, 190, 190);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb{
  background: rgb(202, 202, 202);
  border-radius: 10px;
}

.viewTestBtn{
  border: none;
  border-radius: 2px;
  background-color: rgb(130 201 255 / 15%);
  padding: 10px;
}

.viewTestBtn:hover{
  cursor: pointer;
  background-color: rgb(130 201 255 / 85%);
}

.unsolved:hover{
  cursor: not-allowed;
}

#addPatient{
  padding: 0 1% 0 5%;
}

#head-card{
  text-align: center;
  padding: 1%;
  background: rgba(0,0,0,0) linear-gradient(45deg,#2669a1 30%,#007cd5 100%);
  border-radius: 0.5rem 0.5rem 0 0;
  color: white;
  width: 45%;
  margin-top: 2%;
}

#body-card{
  height: auto;
  background: white;
  width: 80%;
  padding: 1%;
  border-radius: 0 0.5rem 0.5rem 0.5rem;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  grid-template-areas: 
  'patient-form patient-connect';
}

#patient-form{
  grid-area: patient-form;
}

#patient-connect{
  justify-content: center;
  display: flex;
  align-items: center;
  border-left: 1px solid;
  grid-area: patient-connect;
  flex-direction: column;
}

#add-content{
  width: 50%;
  margin-left: 25%;
  margin-right: auto;
}

.newPatient{
  background-color: rgba(255,255,255,0.85);
  border: 1px solid #ccc;
  color: #000;
  font-size: 1.6em;
  margin: 5% 1% 0 0;
  padding: 1%;
  text-align: left;
  width: 93%;
}

#createPatientBtn{
  padding: 2%;
  margin: 5% auto 0% 35%;
  border: none;
  font-size: 1.2rem;
  border-radius: 0.2rem;
  background: linear-gradient(45deg, #0063f8, #171baf82);
  color: white;
}

#createPatientBtn:hover{
  cursor: pointer;
}

#alternative{
  width: 50%;
  margin-left: 25%;
  margin-right: auto;
  text-align: center;
}

#dms{
  display: flex;
  height: 70%;
}

#roomlist-container{
  border: 1px solid black;
  margin: 1% 0% 0% 0.5%;
  background-color: white;
  height: 100%;
  width: 30%;
}

#messages-container{
  border: 1px solid black;
  border-left: none;
  margin: 1% 0.5% 0% 0%;
  width: 70%;
  height: 100%;
  background-color: white;
}

#search-area{
  display: flex;
  align-items: center;
  width: 100%;
  height: 15%;
  background: linear-gradient(45deg,#2669a1 30%,#007cd5 100%);
}

#search-input{
  color: #000;
  margin: 5% 0% 5% 5%;
  width: 80%;
  height: 50%;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}

#roomsList{
  overflow-y: auto;
  height: 85%;
}

.room{
  height: 20%;
  display: grid;
  grid-template-columns: 25% 54% 21%;
  grid-template-rows: 50% 50%;
  grid-template-areas: 
  'patient-icon roomLastMessage time'
  'patient-icon roomLastMessage circle';
}

.room:hover{
  background-color: rgb(95 196 255 / 46%);
  cursor: pointer;
}

.border-bottom{
  position: absolute;
  width: 29%;
  margin: 5.7% 3% 5% 0.5%;
  border-bottom: 1px solid;
}

.patient-icon{
  grid-area: patient-icon;
  align-self: center;
  justify-self: center;
  width: 60%;
  height: 80%;
  border-radius: 100%;
  background-color: #047bd1;
  display: flex;
  align-items: center;
}

.roomLastMessage{
  padding-top: 5%;
  grid-area: roomLastMessage;
}

.time{
  grid-area: time;
  margin-top: 15%;
}

#room-header{
  height: 15%;
  background: linear-gradient(225deg,#2669a1 30%,#007cd5 100%);
}

#messages{
  height: 70%;
  background-color: rgb(255, 255, 255);
  overflow-y: auto;
}

#send-message-area{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15.1%;
  background: linear-gradient(225deg,#2669a1 30%,#007cd5 100%);
}

#message-input{
  font-size: 1rem;
  color: #000;
  width: 85%;
  height: 50%;
  border-radius: 5px;
  border: none;
}

.message{
  margin: 0;
  width: 100%;
  height: auto;
  min-height: 20%;
  display: flex;
}

.sender{    
  align-items: center;
  height: 50px;
  width: 6%;
  min-width: 6%;
  margin: 0.5% 2% 0 0;
  background-color: #7485c1;
  border-radius: 100%;
  margin-left: 2%;
  justify-content: center;
  display: flex;
  font-weight: 900;
}

.message-text{
  word-wrap: break-word;
  font-size: 1.1rem;
  width: 90%;
  margin: 1% 0 1% 0;
}

#test-view{
  height: 100%;
}

#profile-view{
  display: block;
  background: white;
  height: 80%;
  margin: 1% 1% 0 1%;
}

.backSctn{
  position: absolute;
  margin-left: 5%;
  margin-top: 2%;
}

#back-arrow{
  float: left;
  color: black;
  font-size: 1rem;
  margin-top: 2%;
}

#backBtn{
  border: none;
  text-decoration: underline;
  float: left;
  font-size: 0.9rem;
  background: none;
}

#back-arrow:hover, #backBtn:hover{
  cursor: pointer;
}

#test-container{    
  display: flex;
  padding-left: 25%;
  padding-top: 3%;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-start;
}

#btn-container{
  display: flex;
}

.controlBtn{
  padding: 5px;
  width: 50%;
  border: 1px solid #80808045;
  background: #8b8f8e63;
  border-top: none;
}

.controlBtn:hover{
  background: #60636263;
  cursor: pointer;
}

.control{
  color: #000000bf;
  margin-left: -5%;
}

.control:hover{
  color: #000000bf;
}

#canvas1{
  border: 1px solid black;
}

#board{
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  height: 90%;
}

#image{
  width: 100%;
  height: 100%;
} 

.piece{
  border: 1px solid white;
  position: absolute;
  font-size: 4rem;
  background-color: black;
}

.empty{
  opacity: 0;
}

#replay:hover{
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {   
  background-color: #fefefe;
  border-radius: 5px;
  margin: auto;
  padding: 20px;
  width: 50%;
  overflow: auto;
  margin: 3% auto;
}

/* The Close Button */
.close {
  color: #424242;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  margin-left: 49%;
  margin-top: -7%;
}

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.form-content{
  margin-top: 5%;
  margin-left: 5%;
  font-size: 1.4rem;
  font-weight: 500;
}

#types{
  border: none;
  font-size: 1.3rem;
  margin-left: 5%;
}

.details{
  margin-top: 5%;
}

.details input{
  margin-bottom: 5%;
}


input[type="radio"]{
  appearance: none;
  border: 1px solid #d3d3d3;
  width: 30px;
  height: 30px;
  content: none;
  outline: none;
  margin-bottom: -1%;
  margin-right: 2%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

input[type="radio"]:checked {
 appearance: none;
 outline: none;
 padding: 0;
 content: none;
 border: none;
}

input[type="radio"]:checked::before{
 width: 29px;
 position: absolute;
 color: black;
 content: "\00A0\2714\00A0";
 border: 1px solid #d3d3d3;
 font-weight: bolder;
 font-size: 21px;
}

#sbtTest{
  float: right;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  padding: 2%;
  background: #83eeff;
}

#sbtTest:hover{
  cursor: pointer;
}

#confirmation{
    display: none;
    width: 100%;
    top: 0%;
    z-index: 1;
    position: absolute;
    background: #78fc78a6;
    text-align: center;
}

  #footer{
    height: 20%;
  }

  #slideshow-container {
    max-height: 17rem;
    width: 80%;
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  .mySlides{
    height: auto;
  }
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  #dots{
    margin: 5% 0 0 0;
    text-align: center;
    display: block;
    max-width: 80%;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }