body {
    margin: 0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  }
  
  #header{
    background-color: red;
    height: 20%;
  }
  
  #main{
    display: flex;
    justify-content: center;
    padding: 5%;
    background-color: royalblue;
    height: auto;
  }
  
  #footer{
    background-color: springgreen;
    height: 20%;
  }
  